.board_cell {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  height: 1em;
  justify-content: center;
  position: relative;
  width: 1em;
}

.board_cell:after {
  border-right: 1px solid black;
  content: "";
  height: 1em;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 0.5em;
}

.board_cell.bottom_row:after {
  height: 0.5em;
}

.board_cell.left_column:after {
  content: none;
}

.board_cell.right_column:after {
  content: none;
}

.board_cell.top_row:after {
  height: 0.5em;
  top: 0.5em;
}

.board_cell:before {
  border-bottom: 1px solid black;
  content: "";
  height: 0.5em;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1em;
}

.board_cell.bottom_row:before {
  content: none;
}

.board_cell.left_column:before {
  width: 0.5em;
  left: 0.5em;
}

.board_cell.right_column:before {
  width: 0.5em;
}

.board_cell.top_row:before {
  content: none;
}

.board_cell.black_piece {
  background: radial-gradient(closest-corner at 50% 50%, black 20%, white 130%);
  border-radius: 1em;
  color: white;
}

.board_cell.white_piece {
  background: radial-gradient(closest-corner at 50% 50%, white 20%, #aaa 130%);
  border-radius: 1em;
}

.board_cell.black_piece:after,
.board_cell.white_piece:after,
.board_cell.black_piece:before,
.board_cell.white_piece:before {
  content: none;
}

.move_number {
  visibility: hidden;
  font-size: 0.45em;
}

.black_piece .move_number,
.white_piece .move_number {
  color: inherit;
  visibility: visible;
}

.awaiting_turn .board_cell:hover {
  border-radius: 1em;
  border: 2px solid red;
  cursor: pointer;
  height: calc(1em - 4px);
  width: calc(1em - 4px);
}

.awaiting_turn .board_cell:hover:after {
  width: calc(0.5em - 2px);
}

.awaiting_turn .board_cell:hover:before {
  height: calc(0.5em - 2px);
}

.board_cell.black_piece:hover,
.board_cell.black_piece:hover .move_number,
.board_cell.white_piece:hover,
.board_cell.white_piece:hover .move_number {
  border-color: transparent;
  cursor: default;
}

.board_cell.key_cell .move_number {
  color: transparent;
  visibility: visible;
}

.board_cell .move_number:before {
  background: black;
  border-radius: 1em;
  content: "";
  display: block;
  height: 0.6em;
  left: calc(50% - 0.3em);
  position: absolute;
  top: calc(50% - 0.3em);
  width: 0.6em;
}

.board_cell.black_piece .move_number:before,
.board_cell.white_piece .move_number:before {
  display: none;
}
